<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pantalla-usuario-tabla.component.css"> <!-- Enlazamos el CSS -->
    <script src="https://kit.fontawesome.com/14bdab9544.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- Enlace a los iconos de Material -->
    <title>Tabla Usuario</title>
</head>
<body>
    <div class="sidebar-form">
        <div class="sidebar">
            <div class="sidebar-content">
                <div class="logo-section">
                    <img src="/proyectoIS/public/logotemplateUAP10.png" alt="Union Atletico Paraiso" class="logo">
                    <h3 class="title">Unión Atlético Paraíso</h3>
                </div>
                <nav class="navigation">
                    <a href="/proyectoIS/src/app/pantalla-inicio/pantalla-inicio.component.html" class="nav-item"><i class="fa-solid fa-home"></i> <span>Inicio</span></a>
                    <a href="/proyectoIS/src/app/pantalla-plantilla/Tabla Jugador/Tabla_Jugador.html" class="nav-item"><i class="fa-solid fa-users"></i> <span>Plantilla</span></a>
                    <a href="/proyectoIS/src/app/Empleados/menu/menu.html" class="nav-item"><i class="fa-solid fa-user-tie"></i> <span>Empleados</span></a>
                    <a href="/proyectoIS/src/app/pantalla-implemento/Tabla-Consultar/implemento-tabla.html" class="nav-item"><i class="fa-regular fa-futbol"></i> <span>Implementos</span></a>
                    <a href="/proyectoIS/src/app/pantalla-entrenamiento/Tabla Entrenamiento/Tabla_Entrenamiento.html" class="nav-item"><i class="fa-solid fa-person-running"></i> <span>Entrenamientos</span></a>
                    <a href="/proyectoIS/src/app/pantalla-usuario/Tabla-Consultar-Editar/pantalla-usuario-tabla.component.html" class="nav-item"><i class="fa-solid fa-user"></i> <span>Usuarios</span></a>
                    <a href="/proyectoIS/src/app/login/login.component.html" class="nav-item"><i class="fa-solid fa-right-from-bracket"></i> <span>Salir</span></a>
                </nav>
            </div>
        </div>

        <div class="formbold-main-wrapper">
            <div class="formbold-form-wrapper">
                <h2>Usuarios Registrados</h2> <!-- Título para la tabla -->

                <table id="tablaUsuario">
                    <thead>
                        <tr>
                            <th colspan="6">Usuarios</th>
                        </tr>
                        <tr>
                          <th>#</th>
                          <th>Nombre</th>
                          <th>Rol</th>
                          <th>Usuario</th>
                          <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

                <!--button onclick="window.location.href='../Formulario/usuario-formulario.html'">Registar Usuario</button-->
            </div>
        </div>
    </div>
    <script src="pantalla-usuario-tabla.component.js"></script>
</body>
</html>