html, body {
    height: 100%;
    font-family: "Cabin", sans-serif;
    margin: 0;
    padding: 0;
}

#titulo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#cuadroFormulario {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: auto;
}

#items {
    list-style: none;
    justify-content: flex-start;
}

#items li {
    margin-bottom: 10px;
}

#boton {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 40px;
    width: calc(100% - 35px);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #22ac50;
    color: rgb(245, 245, 245);
    font-weight: bold;
}

#boton:hover {
    background-color: #2fdb69;
}

.sidebar-form {
    display: flex; /* Establece un contenedor flexbox */
    height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
    width: 100vw; /* Asegura que el contenedor ocupe todo el ancho de la ventana */
    overflow: hidden; /* Evita el desbordamiento del contenido */
}

.sidebar {
    width: 200px;
    background: linear-gradient(145deg, #22ac50, #000000);
    color: #ffffff;
    transition: all 0.3s ease;
    position: relative;
    box-shadow: 2px 0 10px rgba(0,0,0,0.1);
}

.logo-section {
    padding: 20px;
    text-align: center;
}

.logo {
    width: 61px;
    height: 84px;
    border-radius: 10px;
    object-fit: cover;
}

.navigation {
    margin-top: 30px;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
    cursor: pointer;
}

.nav-item:hover {
    background: rgba(255,255,255,0.1);
    transform: translateX(5px);
}

.nav-item i {
    font-size: 20px;
    margin-right: 15px;
}

.nav-text {
    font-size: 16px;
    white-space: nowrap;
    text-align: left;
}

.nav-item:hover .tooltip {
    opacity: 1;
}

@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        z-index: 1000;
    }

    .formbold-main-wrapper {
        margin-left: 70px;
    }
    
    .sidebar:not(.collapsed) {
        transform: translateX(0);
    }
    
    .sidebar.collapsed {
        transform: translateX(-100%);
    }
}