<!--app-login></app-login-->

<!--app-pantalla-inicio></app-pantalla-inicio-->

<!--app-pantalla-implemento-tabla></app-pantalla-implemento-tabla-->
<!--app-pantalla-implemento-formulario></app-pantalla-implemento-formulario-->
<!--app-pantalla-empleado-tabla></app-pantalla-empleado-tabla-->

<!--app-pantalla-administrador></app-pantalla-administrador-->

<!--app-pantalla-entrenamiento-editar></app-pantalla-entrenamiento-editar-->


<!--app-pantalla-jugador-tabla></app-pantalla-jugador-tabla>
<app-pantalla-jugador-consulta></app-pantalla-jugador-consulta-->

<!--app-jugador-formulario></app-jugador-formulario-->

<!--app-pantalla-usuario-consultar></app-pantalla-usuario-consultar-->
<!--app-pantalla-entrenamiento-tabla></app-pantalla-entrenamiento-tabla-->

<!--app-pantalla-entrenador></app-pantalla-entrenador-->
<!--app-pantalla-jugador-tabla></app-pantalla-jugador-tabla-->
<app-jugador-formulario></app-jugador-formulario>
<!--router-outlet></router-outlet-->