.sidebar-form {
  display: flex;
  font-family:"Cabin", sans-serif;
  overflow: hidden;
  width: 100%;
  flex-direction: row;
  height: 100%;
}
  
.sidebar {
  width: 200px;
  background: linear-gradient(145deg, #22ac50, #000000);
  color: #ffffff;
  transition: all 0.3s ease;
  position: relative;
  box-shadow: 2px 0 10px rgba(0,0,0,0.1);
}

.sidebar.collapsed {
  width: 70px;
}

.logo-section {
  padding: 20px;
  text-align: center;
}
  
.logo {
  width: 61px;
  height: 84px;
  border-radius: 10px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    z-index: 1000;
  }
    
  .formbold-main-wrapper {
    margin-left: 70px;
  }
  
  .sidebar:not(.collapsed) {
    transform: translateX(0);
  }
  
  .sidebar.collapsed {
    transform: translateX(-100%);
  }
}

.sidebar-form{
  font-family: cabin;
}

#cuadroLogin {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  display: flex;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f6fa;
  height: auto;
  font-family:"Cabin", sans-serif;
}

#items {
  list-style: none;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.input {
  border-radius: 20px;
  height: 40px;
  width: 65%;
  padding: 7px;
  border: 0.2px solid rgb(122, 122, 122);
  box-shadow: 8px 8px 10px rgba(34, 172, 80, 0.2);
  margin-right: 25px;
  font-size: larger;
}

input:focus {
  outline: none;
}

#tituloLogin {
  margin-bottom: -40px;
  margin-top: 50px;
}

#tituloUAP {
  display: flex;
  justify-content: center;
}

#btnIniciarSecion {
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(30% - 20px);
  align-items: center;
  height: 40px;
  width: calc(100% - 35px);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #22ac50;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

#btnIniciarSecion:hover {
  background-color: #1e8c3a;
  transform: translateY(-2px);
}

.cabin-fuente {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

html, body {
  height: 100%;
  font-family: "Cabin", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex: 1;
  padding: 30px;
}

@font-face {
  font-family:cabin;
  src: url("/front-proyecto/public/Cabin-VariableFont_wdth,wght.ttf");
}

.fa-user, .fa-lock {
  color: black;
  font-size: x-large;
}

/* Estilo a los íconos del login */
.toggle-password{
  font-size: 1.5em; /*Ajusta el tamño del ícono según sea necesario*/
  width: 24px; /* Ajusta el ancho del ícono */
  height: 24px; /* Ajusta el alto del ícono */
  display: inline-block; /* Muestra el ícono como un bloque */
  text-align: center;
  line-height: 24px; /* Ajusta la altura del texto */
}

#togglePassword{
  color: black;
  cursor: pointer;
}

#togglePassword:hover{
  color: #1a7f2a;
}

/* Estilo para el overlay de los mensajes que cubre toda la pantalla */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Estilo para el cuadro de mensaje de error */
.message-boxError{
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: left;
  max-width: 80%; /* Ancho máximo */
  margin: 0 auto; /* Centrado horizontal */
  box-sizing: border-box; /* Incluye el padding en el ancho y el borde en el tamaño total*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-boxError h2 {
  margin-bottom: 20px;
  text-align: center;
}

.message-boxError button {
  padding: 10px 20px;
  background: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
  margin-top: 20px;
}

.message-boxError button:hover {
  background: #45a049;
  transform: translateY(-2px);
  font-weight: bold;
}

.message-boxError ul{
  list-style-type: none; /*Quita los ptos de la lista*/
  padding: 0; /*Quita el padding de la lista*/
  margin: 0; /*Quita el margen de la lista*/
  font-size: 20px;
}

.message-boxError li{
  margin-bottom: 10px; /*Agrega un espacio entre cada item*/
}

.message-boxError .campo-errado{
  color: darkred; /*Color rojo oscuro*/
  font-weight: bold; /*Texto en negrita*/
}